<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<section id="navbar" style="margin-top: 2rem" 
element.style {
    display: block;
    text-align: center;
}>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Authentication</a>
  </nav>
</section>
